@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Mulish", sans-serif; /* Katuo ka font lgra h bc */
	margin: 0;
	padding: 0;
}

$green: #0f9d58;
$blue: #4285f4;
$yellow: #fbbc04;
$red: #ea4335;
$black: #1f1534;

#G {
	color: $blue;
}
#o {
	color: $red;
}
#o2 {
	color: $yellow;
}
#g {
	color: $blue;
}
#l {
	color: $green;
}
#e {
	color: $red;
}

// Mixins
@mixin btn-format {
	background-color: $blue;
	outline: none;
	border: none;
	color: #fff;
	width: 200px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 55px;
	margin: 7vh 2px;
	font-size: 20px;

	h4 {
		font-size: 20px;
		font-weight: 500;
	}
}

@mixin underscore {
	border-bottom: solid 2px #1f1534;
	padding: 15px;
	width: 25px;
}

//Common
a.apply,
button.apply {
	outline: none;
	cursor: pointer;
	border: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 16px;
	background: $blue;
}

a {
	text-decoration: none;
}

//Main

.Header {
	padding: 2% 15%;
	display: grid;
	align-items: center;
	grid-template-columns: 3fr 1fr;
	.links {
		display: flex;
		grid-gap: 20%;
		margin-left: -6%;
		.link {
			cursor: pointer;
			max-width: max-content;
			user-select: none;
			color: $black;
			opacity: 0.5;
		}
		.selected {
			color: $black;
			opacity: 1;
			font-weight: bold;
		}
	}
}

.Footer {
	padding: 5% 0;
	display: flex;
	justify-content: space-around;
	background: $blue;
	color: #fff;

	.left {
		img {
			margin-bottom: 5%;
		}
		.copyright {
			font-weight: 100;
		}
	}

	.right {
		width: 20%;
		h3 {
			font-size: 20px;
			font-weight: bold;
		}
		.links {
			padding: 8% 0;
			font-size: 18px;
			display: grid;
			grid-gap: 25%;
			grid-template-columns: repeat(2, 1fr);
			a {
				text-decoration: none;
				color: white;
				font-weight: 100;
			}
		}
	}
}

.Home {
	background-position: 0 1%;
	.circle-grid {
		position: absolute;
		left: -3vw;
		top: 20vh;
	}
	.container {
		margin: 0 15%;
		min-height: 80vh;
		display: flex;
		align-items: center;
		flex-direction: row;

		.right {
			padding-left: 10%;
			img {
				width: 30vw;
			}
		}

		.left {
			width: 50%;

			h2 {
				font-size: 45px;
			}

			.landing-img-resp {
				display: none;
			}

			.left-para {
				font-size: 20px;
				margin-top: 17px;
				line-height: 30px;
				font-weight: 300;
				opacity: 0.5;
			}
		}

		.left-button {
			.btn {
				@include btn-format;
			}
		}
	}

	.cards {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(3, 1fr);
	}

	.container2 {
		margin: 10% 15%;

		.home-bg2 {
			position: absolute;
			left: 0%;
			top: 117vh;
		}
		.head {
			display: flex;
			align-items: center;
			flex-direction: column;

			h2 {
				@include underscore;
			}

			p {
				font-size: 18px;
				margin: 4% 0;
				line-height: 30px;
				font-weight: 300;
				opacity: 0.5;
				align-content: center;
			}
		}

		.cards {
			margin-top: 4%;
			.card {
				background: #fff;
				min-width: 25%;
				padding: 40px;
				border-radius: 20px;
				z-index: 99;
				box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
				.icon {
					.card-img {
						width: 100% !important;
					}
					img {
						margin: 6% 0;
						max-width: 90%;
						z-index: -1;
					}
				}

				.data {
					h2 {
						font-weight: bold;
						margin: 6% 0;
						line-height: 30px;
					}

					p {
						opacity: 0.5;
						line-height: 30px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.container3 {
		margin: 10% 15%;
		.head {
			margin: 8% 0;
			h2 {
				@include underscore;
			}
		}

		.dot-grid {
			position: absolute;
			top: 285vh;
			left: 12%;
		}

		.cards {
			grid-template-columns: repeat(3, 1fr) !important;
			.card {
				background: #fff;
				border-radius: 20px;
				z-index: 99;
				box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
			}

			.data {
				padding: 8%;
				h2 {
					font-size: 21px;
					letter-spacing: 0.2px;
					line-height: 30px;
					font-weight: bold;
				}
				p {
					margin: 5% 0 8% 0;
					opacity: 0.5;
					width: 80%;
					line-height: 30px;
				}
				a {
					color: $blue;
					font-weight: 600;
					img {
						margin-left: 8px;
					}
				}
			}
		}

		.bubble2 {
			position: absolute;
			top: 280vh;
			height: 90%;
			right: 0;
		}

		.view-all {
			margin: 8% 0;
			button {
				@include btn-format;
				background: #fff;
				border: solid 2px $blue;
				color: $blue;
				margin: 0;
				h4 {
					font-weight: bold;
				}
			}
		}
	}

	.container4 {
		display: flex;
		flex-direction: row;
		padding: 10% 15%;
		.left {
			.head {
				h1 {
					font-size: 40px;
					font-weight: bold;
					margin: 5% 0 1% 0;
				}
				h3 {
					font-weight: bold;
					font-size: 22px;
					color: $blue;
				}
				h4 {
					@include underscore;
				}
			}

			.bottom {
				p {
					margin: 5% 0;
					font-size: 18px;
					width: 70%;
					line-height: 30px;
					opacity: 0.5;
				}

				button {
					@include btn-format;
					background: #fff;
					color: $blue;
					border: solid 2px $blue;
				}
			}
		}
	}

	.container5 {
		padding: 10% 15%;
		color: #fff;

		.bg-topright {
			position: absolute;
			top: relative;
			margin-top: -3%;
			right: 12%;
			z-index: -1;
		}

		.bg-bottomleft {
			position: absolute;
			top: relative;
			margin-top: -5%;
			left: 12%;
			z-index: -1;
		}

		.info-card {
			padding: 5% 0;
			background: linear-gradient(
				208.18deg,
				#67c3f3 9.05%,
				#5a98f2 76.74%
			);
			border-radius: 25px;
			.head {
				h4 {
					@include underscore;
					border-bottom: solid 2px #fff;
				}
			}
			.bottom {
				display: flex;
				flex-direction: row;
				padding: 5% 12% 1% 12%;
				.avatar {
					width: 40%;
					display: flex;
					flex-direction: row;
					align-items: center;
					grid-gap: 6%;
					img {
						border-radius: 50%;
						border: solid 5px #fff;
					}
					.designation {
						h2 {
							font-size: 20px;
							margin-bottom: 10px;
						}
						h5 {
							font-size: 18px;
							font-weight: 100;
						}
					}
				}
				.quote {
					display: flex;
					width: 45%;
					align-items: center;
					margin-left: 15%;
					font-size: 18px;
					font-weight: 200;
					line-height: 30px;
				}
			}
		}

		.navigate {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin: 5% 0;
			.back-arrow {
				opacity: 0.5;
			}
			.slider {
				margin: 0 5%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				width: 10%;
				.dot {
					width: 10px;
					height: 10px;
					background: $blue;
					border-radius: 50%;
					opacity: 0.4;
				}
				.selected {
					opacity: 1;
				}
			}
		}
	}
}

.Slider {
	background: white;
	border-radius: 20px;
	box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
	button {
		outline: none;
		border: none;
		padding: 10px 20px;
		border-radius: 20px;
		background: white;
		color: $blue;
		cursor: pointer;
	}
	.middle {
		border-radius: 0px;
	}
	.left {
		border-radius: 20px 0px 0px 20px;
	}
	.right {
		border-radius: 0px 20px 20px 0px;
	}
	.selected {
		color: white;
		background: $blue;
	}
}

.Content {
	.heading {
		font-size: 32px;
	}
	.content {
		ul {
			list-style-type: none;
			font-size: 22px;
			text-align: left;
			li {
				.explain {
					font-size: 18px;
					margin-left: 40px;
				}
			}
		}
	}
}

.RedirectLinks {
	background-repeat: repeat;
	background-size: cover;
	padding-top: 30px;
	.container {
		margin: 0 10%;
		justify-content: center;
		min-height: 100vh;
	}
	.top {
		width: 100%;
		h1 {
			color: $blue;
			font-size: 3rem;
		}
		h3 {
			color: #474747;
			margin-top: 15px;
		}
	}
	section {
		box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
		margin-top: 50px;
		width: 100%;
		background: white;
		border-radius: 40px;
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	article {
		p {
			margin-top: 15px;
			margin-right: 30%;
			color: #474747;
		}
		h4 {
			color: $blue;
		}
		h4:first-of-type {
			color: $green;
			margin-top: 10px;
		}
		button {
			margin-top: 15px;
		}
		button:disabled {
			cursor: not-allowed;
			color: lighten($color: $blue, $amount: 20);
		}
		.help {
			width: 50%;
			margin: 10px 0;
			display: flex;
			align-items: center;
			background: lighten($color: $blue, $amount: 35);
			border-radius: 20px;
			border: solid 1px $blue;
			padding: 20px;
			img {
				height: 40px;
				width: 40px;
				margin-right: 5px;
			}
		}
	}
	aside {
		img {
			width: 100%;
		}
	}
	.links {
		margin-top: 30px;
		border-radius: 40px;
		display: grid;
		padding: 20px 50px 10px 50px;
		background: white;
		align-items: center;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 100%;
		box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
		margin-bottom: 30px;
		.link {
			margin-bottom: 10px;
			cursor: pointer;
			display: flex;
			align-items: center;
			.name {
				margin-left: 20px;
			}
		}
	}
}

.Join {
	.circle-grid {
		position: absolute;
		left: -3vw;
		top: 15vh;
	}
	.container {
		margin: 0 15%;
		min-height: 80vh;
		.head {
			margin-top: 3rem;
			h2 {
				font-weight: 700;
				@include underscore();
			}
			p {
				color: $blue;
				font-size: 1.2rem;
				font-weight: 600;
			}
			margin-bottom: 2rem;
		}
		.help {
			display: flex;
			padding: 2rem;
			border-radius: 1rem;
			align-items: center;
			background: lighten($color: $yellow, $amount: 45);
			color: darken($yellow, 2);
			margin: 1rem;
			box-shadow: 10px 0px 50px rgba(229, 233, 246, 0.69);
			.bulb {
				border-right: solid 0.1rem #474747;
				padding-right: 1rem;
			}
			.text {
				margin-left: 1.5rem;
			}
			.link {
				padding-top: 0.5rem;
				a {
					color: #474747;
					border-bottom: dotted 0.2rem #474747;
				}
			}
		}
		.get-badge {
			display: flex;
			padding: 2rem;
			border-radius: 1rem;
			align-items: center;
			background: lighten($color: $red, $amount: 40);
			color: darken($red, 2);
			margin: 1rem;
			box-shadow: 10px 0px 50px rgba(229, 233, 246, 0.69);
			.bulb {
				border-right: solid 0.1rem #474747;
				padding-right: 1rem;
			}
			.text {
				margin-left: 1.5rem;
			}
			.link {
				padding-top: 0.5rem;
				a {
					cursor: pointer;
					color: #474747;
					border-bottom: dotted 0.2rem #474747;
				}
			}
		}
		.cards {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			.card {
				border-radius: 1.5rem;
				padding: 2rem;
				margin: 1rem;
				box-shadow: 10px 0px 50px rgba(229, 233, 246, 0.69);
				font-size: 0.9rem;
				h3 {
					margin-bottom: 1rem;
					font-size: 1.2rem;
				}
				p {
					color: #7d7987;
				}
				a.join-btn {
					align-items: center;
					margin-top: 1rem;
					display: flex;
					background: $blue;
					padding: 0.7rem 1.4rem;
					border-radius: 10rem;
					color: white;
					justify-content: space-between;
				}
			}
		}
		h2.bar {
			@include underscore();
		}
		.enjoy {
			margin-top: 2rem;
			h3 {
				color: $blue;
			}
		}
		margin-bottom: 5rem;
	}
}

.Team {
	.circle-grid {
		position: absolute;
		left: -3vw;
		top: 15vh;
	}
	.container {
		margin: 0 15%;
		min-height: 80vh;
		.head {
			margin-top: 3rem;
			h2 {
				font-weight: 700;
				@include underscore();
			}
			p {
				color: $blue;
				font-size: 1.2rem;
				font-weight: 600;
			}
			margin-bottom: 2rem;
		}
		.team-cards {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			.team-card {
				img {
					width: 15rem;
					height: 15rem;
					border-radius: 50%;
				}
				border-radius: 2rem;
				padding: 2rem;
				margin: 1rem;
				box-shadow: 10px 0px 50px rgba(229, 233, 246, 0.69);
				text-align: center;
				.name {
					padding-top: 1rem;
				}
				.position {
					padding-top: 0.5rem;
					font-size: 0.9rem;
					color: #474747;
				}
				.social-links {
					margin-top: 2rem;
					padding: 0 2rem;
					display: flex;
					align-items: center;
					justify-content: space-around;
				}
			}
		}
		margin-bottom: 5rem;
	}
}

h2.bar {
	@include underscore();
}

.dsc-social-links {
	margin-right: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.bar-line {
		width: 100%;
		height: 0.1rem;
		background: #bee2ff;
	}
}

.BadgeCollection {
	background: #f2f3f5;
	.coming-soon-container {
		margin-bottom: 3rem;
	}
	.coming-soon-text {
		margin-left: 0.5rem;
		font-size: 0.9rem;
		color: #ea4335;
		margin-top: 0.5rem;
	}
	.coming-soon {
		width: max-content;
		padding: 0.5rem 1rem;
		font-weight: 700;
		border-radius: 5rem;
		color: #ea4335;
		background: lighten($color: #ea433f, $amount: 30);
	}
	.container {
		user-select: none;
		padding: 5% 15%;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;

		.left {
			.head {
				filter: blur(0.2rem);
				h1 {
					color: $blue;
					font-weight: 800;
					margin-bottom: 1rem;
				}
				p {
					color: #474747;
				}
				margin-bottom: 3rem;
			}
			.form {
				filter: blur(0.2rem);
				&-grp {
					display: grid;
					width: 100%;
					grid-template-columns: 1fr 2fr;
					margin-bottom: 1rem;
					align-items: center;
					label {
						font-weight: 700;
					}
					input {
						outline: none;
						padding: 0.5rem 1rem;
						border: none;
						color: $blue;
						border-radius: 5rem;
						background: lighten($color: $blue, $amount: 32);
					}
					input:focus {
						border: solid 0.1rem $blue;
					}
				}
				button {
					outline: none;
					border: none;
					border-radius: 5rem;
					color: white;
					background: $blue;
					padding: 0.7rem 1.4rem;
					font-weight: 700;
				}
				ul {
					margin-top: 1rem;
					margin-bottom: 2rem;
					color: #474747;
					font-size: 0.9rem;
					text-decoration: none;
				}
			}
		}
		.right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// MEDIA QUERIES

@media only screen and (max-width: 600px) {
	.BadgeCollection {
		.container {
			grid-template-columns: 1fr;
			.coming-soon-container {
				margin-top: 1rem;
			}
			.right {
				grid-row: 1;
			}
		}
	}
	.dsc-social-links {
		margin-top: 3rem;
		margin-bottom: 8rem;
	}
	.Join {
		.circle-grid {
			z-index: -1;
			opacity: 0.4;
			left: auto;
			right: -3vw;
			top: 20vh;
		}
		.container {
			.head {
				margin-top: 0rem;
			}
			margin: 0;
			flex-direction: column;
			padding: 10%;
			.cards {
				.card {
					margin: 1rem 0;
				}
				grid-template-columns: 1fr !important;
			}
			margin-bottom: 5rem;
		}
	}
	.Team {
		.circle-grid {
			z-index: -1;
			opacity: 0.4;
			left: auto;
			right: -3vw;
			top: 20vh;
		}
		.container {
			.head {
				margin-top: 0rem;
			}
			margin: 0;
			flex-direction: column;
			padding: 10%;
			.cards {
				.card {
					margin: 1rem 0;
				}
				grid-template-columns: 1fr !important;
			}
			margin-bottom: 5rem;
		}
	}
	.Header {
		padding: 0;
		grid-template-columns: 1fr;
		align-content: center;
		margin: 4% 0 5% 0;
		.logo {
			margin-bottom: 4%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.links {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			grid-gap: 15%;
		}
	}
	.Home {
		.circle-grid {
			position: absolute;
			left: -12%;
			z-index: -10;
			opacity: 0.8;
			height: 100px;
		}
		.container {
			margin: 0;
			flex-direction: column;
			padding: 5%;
			.landing-img {
				display: none;
			}
			.left {
				margin: 8% 0;
				text-align: center;
				width: 80%;
				.landing-img-resp {
					display: block;
					width: 70vw;
					margin: 15% 0;
					margin-bottom: 15%;
				}
				.left-head {
					h2 {
						width: 100%;
						font-size: 35px;
					}
				}
			}
		}

		.container2 {
			.home-bg2 {
				top: 140vh;
				z-index: -1;
				height: 500px;
				width: 100%;
			}
			.cards {
				display: flex;
				flex-direction: column;
			}
		}

		.container3 {
			margin-top: 8rem;
			.dot-grid {
				opacity: 0.3;
				z-index: -1;
				top: 482vh;
				left: 3%;
			}
			.head {
				margin-bottom: 20%;
			}
			.cards {
				display: flex;
				flex-direction: column;
				.card {
					width: 100%;
					.icon {
						.card-img {
							width: 100% !important;
							max-width: 30rem;
						}
					}
				}
			}

			.bubble2 {
				width: 100%;
				margin-left: -20px;
			}
		}

		.container4 {
			margin-top: 8rem;
			flex-direction: column;
			.right {
				img {
					position: absolute;
					top: relative;
					margin-top: -120%;
					z-index: -20;
					left: 0;
					opacity: 0.2;
					width: 100%;
				}
			}
		}

		.container5 {
			padding: 10%;
			.bg-topright {
				margin-top: -9%;
				margin-right: -12%;
			}
			.bg-bottomleft {
				margin-top: -20%;
				margin-left: -12%;
			}
			.info-card {
				.head {
					margin: 8%;
					font-size: 12px;
					h4 {
						padding: 4%;
					}
				}
				.bottom {
					.avatar {
						flex-direction: column;
						width: 100%;
						text-align: center;
						img {
							height: 100px;
						}
						.designation {
							margin: 5% 0;
							margin-bottom: 0;
						}
					}

					.quote {
						text-align: center;
						margin: 10% 0;
						width: 100%;
					}
					flex-direction: column;
				}
			}

			.navigate {
				margin: 20% 0;
				.slider {
					width: 35%;
				}
			}
		}
	}

	.Footer {
		flex-direction: column;
		text-align: center;
		padding: 10% 5% 0 5%;
		.left {
			img {
				width: 100%;
			}
			.copyright {
				font-size: 18px;
				width: 95%;
				margin: auto;
			}
		}
		.right {
			margin: 10% auto;
			width: 100%;
			.links {
				padding: 0;
				padding-top: 5%;
				display: flex;
				justify-content: center;
				grid-gap: 8%;

				a {
					font-weight: 300;
				}
			}
		}
	}
}
